*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.food_menu{
    border: 2px solid blue;
    width: 400px;
    height: 400px;
    margin: 8px auto;
    box-shadow: 8px 8px 8px  8px;
    background: url(https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=481&q=80);
    background-repeat: no-repeat;
    background-color: cover;
    background-position: center;
    border-radius: 5px;
    display: inline-block;



}
.food_menu:hover{
    animation-name: food-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

}
@keyframes food-animation{
    100%{
        transform: rotate(20deg);
    }
}